// $banner-animation-duration: 3s;
// $char-animation-duration: 10s;

#yun-banner {
  --banner-char-color: #00ff37;
}
.char-left,
.char-right {
  animation-duration: 80s !important;
  animation-delay: 8s;      // 延迟与线条同步
  animation-fill-mode: forwards;
}